rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwnerExisting() {
      return request.auth.uid == resource.data.userId;
    }

    function isOwnerIncoming() {
      return request.auth.uid == request.resource.data.userId;
    }

    function hasValidTaskShape() {
      return request.resource.data.keys().hasAll([
        'title',
        'description',
        'completed',
        'userId',
        'createdAt',
        'priority',
        'dueDate',
        'order'
      ])
      && request.resource.data.keys().hasOnly([
        'title',
        'description',
        'completed',
        'userId',
        'createdAt',
        'priority',
        'dueDate',
        'order'
      ]);
    }

    function hasValidTaskValues() {
      let data = request.resource.data;
      return data.title is string
        && data.title.size() >= 3
        && data.title.size() <= 30
        && data.description is string
        && data.description.size() <= 280
        && data.completed is bool
        && data.userId is string
        && data.createdAt is timestamp
        && data.priority in ['low', 'medium', 'high']
        && (data.dueDate == null || data.dueDate is string)
        && data.order is number;
    }

    match /tasks/{taskId} {
      allow read, delete: if isSignedIn() && isOwnerExisting();
      allow create: if isSignedIn()
        && isOwnerIncoming()
        && hasValidTaskShape()
        && hasValidTaskValues();
      allow update: if isSignedIn()
        && isOwnerExisting()
        && isOwnerIncoming()
        && hasValidTaskShape()
        && hasValidTaskValues();
    }
  }
}
